In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sealevels = pd.read_csv('sealevel.csv')

In [3]:
sealevels

,Year,TotalWeightedObservations,GMSL_noGIA,StdDevGMSL_noGIA,SmoothedGSML_noGIA,GMSL_GIA,StdDevGMSL_GIA,SmoothedGSML_GIA,SmoothedGSML_GIA_sigremoved
0,1993,327401.31,-38.59,89.86,-38.76,-38.59,89.86,-38.75,-38.57
1,1993,324498.41,-41.97,90.86,-39.78,-41.97,90.86,-39.77,-39.11
2,1993,333018.19,-41.93,87.27,-39.62,-41.91,87.27,-39.61,-38.58
3,1993,297483.19,-42.67,90.75,-39.67,-42.65,90.74,-39.64,-38.34
4,1993,321635.81,-37.86,90.26,-38.75,-37.83,90.25,-38.72,-37.21
...,...,...,...,...,...,...,...,...,...
1043,2021,334929.31,49.26,85.01,49.78,56.17,84.76,56.69,60.49
1044,2021,338042.09,50.49,85.94,49.66,57.42,85.65,56.57,60.56
1045,2021,337369.81,49.65,84.02,49.58,56.57,83.78,56.50,60.53
1046,2021,335464.09,47.46,82.66,49.54,54.41,82.45,56.46,60.36
1047,2021,335065.19,50.07,82.04,49.51,57.01,82.10,56.43,59.98

In [5]:
TotalSea_levels = sealevels[['Year','TotalWeightedObservations']]

In [6]:
TotalSea_levels

      Year  TotalWeightedObservations
0     1993                  327401.31
1     1993                  324498.41
2     1993                  333018.19
3     1993                  297483.19
4     1993                  321635.81
...    ...                        ...
1043  2021                  334929.31
1044  2021                  338042.09
1045  2021                  337369.81
1046  2021                  335464.09
1047  2021                  335065.19

[1048 rows x 2 columns]