# Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json

In [2]:
country_temp_df = pd.read_csv("data/Annual_Surface_Temperature_Change.csv")
country_temp_df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.646,0.883,0.554,0.394,0.924,0.820,0.574,0.924,0.815,0.653
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367

In [3]:
country_temp_df.shape

(227, 71)

In [4]:
country_temp_df[['Indicator','Unit','Source']].value_counts()

Indicator                                                                                         Unit            Source
Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980  Degree Celsius  Food and Agriculture Organization of the United Nations (FAO). 2022. FAOSTAT Climate Change, Climate Indicators, Temperature change. License: CC BY-NC-SA 3.0 IGO. Extracted from: https://www.fao.org/faostat/en/#data/ET. Accessed on 2022-05-03.    227
dtype: int64

In [5]:
country_temp_df = country_temp_df.drop(columns=['Indicator','Unit','Source'])

In [6]:
country_temp_df.shape

(227, 68)

In [7]:
country_temp_df.head()

,ObjectId,Country,ISO2,ISO3,CTS_Code,CTS_Name,CTS_Full_Descriptor,F1961,F1962,F1963,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",-0.105,-0.157,0.852,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,2,Albania,AL,ALB,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.627,0.330,0.068,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,3,Algeria,DZ,DZA,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.162,0.131,0.110,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
3,4,American Samoa,AS,ASM,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.066,-0.055,0.160,...,0.646,0.883,0.554,0.394,0.924,0.820,0.574,0.924,0.815,0.653
4,5,"Andorra, Principality of",AD,AND,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.744,0.102,-0.762,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367

In [8]:
country_temp_df[['CTS_Code','CTS_Name','CTS_Full_Descriptor']].value_counts()

CTS_Code  CTS_Name                    CTS_Full_Descriptor
ECCS      Surface Temperature Change  Environment, Climate Change, Climate Indicators, Surface Temperature Change    227
dtype: int64

In [9]:
country_temp_df = country_temp_df.drop(columns=['CTS_Code','CTS_Name','CTS_Full_Descriptor'])

In [10]:
print(country_temp_df.shape)
country_temp_df.head()

(227, 65)

,ObjectId,Country,ISO2,ISO3,F1961,F1962,F1963,F1964,F1965,F1966,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,-0.105,-0.157,0.852,-0.743,-0.211,0.156,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,2,Albania,AL,ALB,0.627,0.330,0.068,-0.172,-0.393,0.553,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,3,Algeria,DZ,DZA,0.162,0.131,0.110,0.284,-0.081,0.436,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
3,4,American Samoa,AS,ASM,0.066,-0.055,0.160,-0.150,-0.582,0.166,...,0.646,0.883,0.554,0.394,0.924,0.820,0.574,0.924,0.815,0.653
4,5,"Andorra, Principality of",AD,AND,0.744,0.102,-0.762,0.300,-0.492,0.407,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367

In [11]:
country_temp_df = country_temp_df.drop(columns=['ObjectId'])
print(country_temp_df.shape)
country_temp_df.head()

(227, 64)

,Country,ISO2,ISO3,F1961,F1962,F1963,F1964,F1965,F1966,F1967,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,"Afghanistan, Islamic Rep. of",AF,AFG,-0.105,-0.157,0.852,-0.743,-0.211,0.156,-0.389,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,Albania,AL,ALB,0.627,0.330,0.068,-0.172,-0.393,0.553,-0.080,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,Algeria,DZ,DZA,0.162,0.131,0.110,0.284,-0.081,0.436,0.006,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
3,American Samoa,AS,ASM,0.066,-0.055,0.160,-0.150,-0.582,0.166,-0.364,...,0.646,0.883,0.554,0.394,0.924,0.820,0.574,0.924,0.815,0.653
4,"Andorra, Principality of",AD,AND,0.744,0.102,-0.762,0.300,-0.492,0.407,0.621,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367

In [12]:
import re
col_head = country_temp_df.columns

new_col =col_head.str.replace('F','')

In [13]:
new_col

Index(['Country', 'ISO2', 'ISO3', '1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021'],
      dtype='object')

In [14]:
country_temp_df.columns = new_col

In [15]:
country_temp_df.columns

Index(['Country', 'ISO2', 'ISO3', '1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021'],
      dtype='object')

In [16]:
country_temp_cleaned = country_temp_df.drop(columns=['ISO2'])
country_temp_cleaned

,Country,ISO3,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"Afghanistan, Islamic Rep. of",AFG,-0.105,-0.157,0.852,-0.743,-0.211,0.156,-0.389,-0.384,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,Albania,ALB,0.627,0.330,0.068,-0.172,-0.393,0.553,-0.080,0.073,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,Algeria,DZA,0.162,0.131,0.110,0.284,-0.081,0.436,0.006,-0.027,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
3,American Samoa,ASM,0.066,-0.055,0.160,-0.150,-0.582,0.166,-0.364,-0.174,...,0.646,0.883,0.554,0.394,0.924,0.820,0.574,0.924,0.815,0.653
4,"Andorra, Principality of",AND,0.744,0.102,-0.762,0.300,-0.492,0.407,0.621,-0.013,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,Western Sahara,ESH,0.619,0.559,0.323,0.811,-0.342,0.295,0.013,-0.351,...,1.234,1.282,1.244,1.277,1.636,2.078,0.851,1.430,2.026,1.557
223,World,WLD,0.207,0.037,0.167,-0.252,-0.225,0.201,-0.116,-0.122,...,1.058,1.007,1.042,1.406,1.658,1.424,1.284,1.449,1.713,1.442
224,"Yemen, Rep. of",YEM,0.033,-0.006,0.164,-0.254,-0.628,0.083,-0.262,-0.256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,Zambia,ZMB,0.220,-0.177,-0.397,-0.290,-0.421,0.291,-0.013,-0.124,...,0.926,0.746,0.638,1.486,1.474,0.721,0.727,1.295,1.252,1.002
226,Zimbabwe,ZWE,0.253,0.233,-0.460,-0.101,-0.476,0.211,-0.051,0.096,...,0.329,0.102,-0.008,0.808,1.051,0.116,0.405,0.939,0.415,-0.101

In [17]:
country_temp_cleaned

,Country,ISO3,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"Afghanistan, Islamic Rep. of",AFG,-0.105,-0.157,0.852,-0.743,-0.211,0.156,-0.389,-0.384,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,Albania,ALB,0.627,0.330,0.068,-0.172,-0.393,0.553,-0.080,0.073,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,Algeria,DZA,0.162,0.131,0.110,0.284,-0.081,0.436,0.006,-0.027,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
3,American Samoa,ASM,0.066,-0.055,0.160,-0.150,-0.582,0.166,-0.364,-0.174,...,0.646,0.883,0.554,0.394,0.924,0.820,0.574,0.924,0.815,0.653
4,"Andorra, Principality of",AND,0.744,0.102,-0.762,0.300,-0.492,0.407,0.621,-0.013,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,Western Sahara,ESH,0.619,0.559,0.323,0.811,-0.342,0.295,0.013,-0.351,...,1.234,1.282,1.244,1.277,1.636,2.078,0.851,1.430,2.026,1.557
223,World,WLD,0.207,0.037,0.167,-0.252,-0.225,0.201,-0.116,-0.122,...,1.058,1.007,1.042,1.406,1.658,1.424,1.284,1.449,1.713,1.442
224,"Yemen, Rep. of",YEM,0.033,-0.006,0.164,-0.254,-0.628,0.083,-0.262,-0.256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,Zambia,ZMB,0.220,-0.177,-0.397,-0.290,-0.421,0.291,-0.013,-0.124,...,0.926,0.746,0.638,1.486,1.474,0.721,0.727,1.295,1.252,1.002
226,Zimbabwe,ZWE,0.253,0.233,-0.460,-0.101,-0.476,0.211,-0.051,0.096,...,0.329,0.102,-0.008,0.808,1.051,0.116,0.405,0.939,0.415,-0.101

In [18]:
file_to_load= open("data/countryContinent.csv", encoding='utf8', errors='ignore')
country_cont_df = pd.read_csv(file_to_load)
country_cont_df

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [19]:
country_cont_df = country_cont_df.drop(columns=['country','code_2', 'country_code', 'iso_3166_2', 'region_code','sub_region_code'])
country_cont_df

    code_3 continent       sub_region
0      AFG      Asia    Southern Asia
1      ALA    Europe  Northern Europe
2      ALB    Europe  Southern Europe
3      DZA    Africa  Northern Africa
4      ASM   Oceania        Polynesia
..     ...       ...              ...
244    WLF   Oceania        Polynesia
245    ESH    Africa  Northern Africa
246    YEM      Asia     Western Asia
247    ZMB    Africa   Eastern Africa
248    ZWE    Africa   Eastern Africa

[249 rows x 3 columns]

In [20]:
country_cont_df.rename(columns = {"code_3":"ISO3"}, inplace=True)

In [21]:
country_temp_cont_DF = pd.merge(country_temp_cleaned, country_cont_df, left_on='ISO3', right_on='ISO3')
country_temp_cont_DF

,Country,ISO3,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,continent,sub_region
0,"Afghanistan, Islamic Rep. of",AFG,-0.105,-0.157,0.852,-0.743,-0.211,0.156,-0.389,-0.384,...,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421,Asia,Southern Asia
1,Albania,ALB,0.627,0.330,0.068,-0.172,-0.393,0.553,-0.080,0.073,...,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682,Europe,Southern Europe
2,Algeria,DZA,0.162,0.131,0.110,0.284,-0.081,0.436,0.006,-0.027,...,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317,Africa,Northern Africa
3,American Samoa,ASM,0.066,-0.055,0.160,-0.150,-0.582,0.166,-0.364,-0.174,...,0.554,0.394,0.924,0.820,0.574,0.924,0.815,0.653,Oceania,Polynesia
4,"Andorra, Principality of",AND,0.744,0.102,-0.762,0.300,-0.492,0.407,0.621,-0.013,...,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367,Europe,Southern Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,West Bank and Gaza,PSE,-0.165,0.731,0.809,-0.654,-0.054,0.591,-0.933,-0.093,...,0.940,1.408,1.705,0.821,2.093,1.298,1.553,1.887,Asia,Western Asia
222,Western Sahara,ESH,0.619,0.559,0.323,0.811,-0.342,0.295,0.013,-0.351,...,1.244,1.277,1.636,2.078,0.851,1.430,2.026,1.557,Africa,Northern Africa
223,"Yemen, Rep. of",YEM,0.033,-0.006,0.164,-0.254,-0.628,0.083,-0.262,-0.256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,Western Asia
224,Zambia,ZMB,0.220,-0.177,-0.397,-0.290,-0.421,0.291,-0.013,-0.124,...,0.638,1.486,1.474,0.721,0.727,1.295,1.252,1.002,Africa,Eastern Africa
225,Zimbabwe,ZWE,0.253,0.233,-0.460,-0.101,-0.476,0.211,-0.051,0.096,...,-0.008,0.808,1.051,0.116,0.405,0.939,0.415,-0.101,Africa,Eastern Africa

In [22]:
temp_new = country_temp_cont_DF.dropna(axis=0)
temp_new

,Country,ISO3,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,continent,sub_region
0,"Afghanistan, Islamic Rep. of",AFG,-0.105,-0.157,0.852,-0.743,-0.211,0.156,-0.389,-0.384,...,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421,Asia,Southern Asia
1,Albania,ALB,0.627,0.330,0.068,-0.172,-0.393,0.553,-0.080,0.073,...,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682,Europe,Southern Europe
2,Algeria,DZA,0.162,0.131,0.110,0.284,-0.081,0.436,0.006,-0.027,...,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317,Africa,Northern Africa
4,"Andorra, Principality of",AND,0.744,0.102,-0.762,0.300,-0.492,0.407,0.621,-0.013,...,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367,Europe,Southern Europe
5,Angola,AGO,0.051,-0.145,-0.186,-0.228,-0.207,0.162,-0.088,-0.194,...,0.879,1.430,1.847,1.064,1.504,1.975,1.387,1.631,Africa,Middle Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Wallis and Futuna Islands,WLF,0.323,-0.051,0.125,0.187,-0.410,0.048,-0.255,-0.096,...,0.606,0.646,1.159,0.960,0.688,1.110,1.082,0.775,Oceania,Polynesia
221,West Bank and Gaza,PSE,-0.165,0.731,0.809,-0.654,-0.054,0.591,-0.933,-0.093,...,0.940,1.408,1.705,0.821,2.093,1.298,1.553,1.887,Asia,Western Asia
222,Western Sahara,ESH,0.619,0.559,0.323,0.811,-0.342,0.295,0.013,-0.351,...,1.244,1.277,1.636,2.078,0.851,1.430,2.026,1.557,Africa,Northern Africa
224,Zambia,ZMB,0.220,-0.177,-0.397,-0.290,-0.421,0.291,-0.013,-0.124,...,0.638,1.486,1.474,0.721,0.727,1.295,1.252,1.002,Africa,Eastern Africa
225,Zimbabwe,ZWE,0.253,0.233,-0.460,-0.101,-0.476,0.211,-0.051,0.096,...,-0.008,0.808,1.051,0.116,0.405,0.939,0.415,-0.101,Africa,Eastern Africa

In [23]:
samples_id = temp_new[['Country', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021']]
samples_id = samples_id.T
samples_id

,0,1,2,4,5,6,8,11,12,14,...,214,215,217,218,219,220,221,222,224,225
Country,"Afghanistan, Islamic Rep. of",Albania,Algeria,"Andorra, Principality of",Angola,Anguilla,Argentina,Australia,Austria,"Bahamas, The",...,United States Virgin Islands,Uruguay,Vanuatu,"Venezuela, Rep. Bolivariana de",Vietnam,Wallis and Futuna Islands,West Bank and Gaza,Western Sahara,Zambia,Zimbabwe
1961,-0.105,0.627,0.162,0.744,0.051,0.104,0.128,0.151,1.031,0.064,...,0.076,0.398,0.197,0.038,0.002,0.323,-0.165,0.619,0.22,0.253
1962,-0.157,0.33,0.131,0.102,-0.145,-0.091,-0.03,0.118,-0.624,-0.063,...,-0.103,-0.459,0.109,-0.12,-0.248,-0.051,0.731,0.559,-0.177,0.233
1963,0.852,0.068,0.11,-0.762,-0.186,0.153,0.175,-0.111,-0.729,-0.06,...,0.115,0.344,-0.158,-0.014,-0.309,0.125,0.809,0.323,-0.397,-0.46
1964,-0.743,-0.172,0.284,0.3,-0.228,0.128,-0.345,-0.029,-0.371,0.215,...,0.14,-0.749,0.217,0.043,0.08,0.187,-0.654,0.811,-0.29,-0.101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,1.568,1.269,1.498,1.771,1.064,0.98,1.1,1.122,1.753,1.456,...,1.001,1.627,1.032,0.752,1.213,0.96,0.821,2.078,0.721,0.116
2018,1.58,2.146,1.211,1.761,1.504,0.728,0.876,1.112,2.535,1.168,...,0.778,1.289,0.445,0.808,0.905,0.688,2.093,0.851,0.727,0.405
2019,0.96,1.823,1.094,1.813,1.975,0.861,0.756,1.411,2.369,1.585,...,0.937,0.862,0.803,1.171,1.864,1.11,1.298,1.43,1.295,0.939
2020,0.544,1.623,1.913,2.401,1.387,1.246,1.109,1.404,2.32,1.693,...,1.362,1.086,1.146,1.293,1.588,1.082,1.553,2.026,1.252,0.415
2021,1.421,1.682,2.317,1.367,1.631,0.91,1.011,0.589,1.397,0.688,...,0.953,1.032,1.067,0.723,1.193,0.775,1.887,1.557,1.002,-0.101

In [24]:
samples_id.columns = samples_id.iloc[0]
samples_id2 =samples_id.rename(columns=samples_id.iloc[0])
samples_id2 =samples_id2.drop(samples_id2.index[0])
samples_id2 = samples_id2.reset_index() 
samples_id2 = samples_id2.rename(columns = {'index':'year'})
samples_id2 = samples_id2.set_index('year')
samples_id2

Country,"Afghanistan, Islamic Rep. of",Albania,Algeria,"Andorra, Principality of",Angola,Anguilla,Argentina,Australia,Austria,"Bahamas, The",...,United States Virgin Islands,Uruguay,Vanuatu,"Venezuela, Rep. Bolivariana de",Vietnam,Wallis and Futuna Islands,West Bank and Gaza,Western Sahara,Zambia,Zimbabwe
year,,,,,,,,,,,,,,,,,,,,,
1961,-0.105,0.627,0.162,0.744,0.051,0.104,0.128,0.151,1.031,0.064,...,0.076,0.398,0.197,0.038,0.002,0.323,-0.165,0.619,0.22,0.253
1962,-0.157,0.33,0.131,0.102,-0.145,-0.091,-0.03,0.118,-0.624,-0.063,...,-0.103,-0.459,0.109,-0.12,-0.248,-0.051,0.731,0.559,-0.177,0.233
1963,0.852,0.068,0.11,-0.762,-0.186,0.153,0.175,-0.111,-0.729,-0.06,...,0.115,0.344,-0.158,-0.014,-0.309,0.125,0.809,0.323,-0.397,-0.46
1964,-0.743,-0.172,0.284,0.3,-0.228,0.128,-0.345,-0.029,-0.371,0.215,...,0.14,-0.749,0.217,0.043,0.08,0.187,-0.654,0.811,-0.29,-0.101
1965,-0.211,-0.393,-0.081,-0.492,-0.207,-0.364,0.091,0.121,-0.884,0.109,...,-0.315,0.186,-0.549,-0.146,0.007,-0.41,-0.054,-0.342,-0.421,-0.476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,1.568,1.269,1.498,1.771,1.064,0.98,1.1,1.122,1.753,1.456,...,1.001,1.627,1.032,0.752,1.213,0.96,0.821,2.078,0.721,0.116
2018,1.58,2.146,1.211,1.761,1.504,0.728,0.876,1.112,2.535,1.168,...,0.778,1.289,0.445,0.808,0.905,0.688,2.093,0.851,0.727,0.405
2019,0.96,1.823,1.094,1.813,1.975,0.861,0.756,1.411,2.369,1.585,...,0.937,0.862,0.803,1.171,1.864,1.11,1.298,1.43,1.295,0.939
2020,0.544,1.623,1.913,2.401,1.387,1.246,1.109,1.404,2.32,1.693,...,1.362,1.086,1.146,1.293,1.588,1.082,1.553,2.026,1.252,0.415
2021,1.421,1.682,2.317,1.367,1.631,0.91,1.011,0.589,1.397,0.688,...,0.953,1.032,1.067,0.723,1.193,0.775,1.887,1.557,1.002,-0.101

In [25]:
samples_id2.to_json("samples_id.json")

In [26]:
samples_id= list(samples_id.items())
samples_id

[('Afghanistan, Islamic Rep. of',
  Country    Afghanistan, Islamic Rep. of
  1961                             -0.105
  1962                             -0.157
  1963                              0.852
  1964                             -0.743
                         ...
  2017                              1.568
  2018                               1.58
  2019                               0.96
  2020                              0.544
  2021                              1.421
  Name: Afghanistan, Islamic Rep. of, Length: 62, dtype: object),
 ('Albania',
  Country    Albania
  1961         0.627
  1962          0.33
  1963         0.068
  1964        -0.172
              ...
  2017         1.269
  2018         2.146
  2019         1.823
  2020         1.623
  2021         1.682
  Name: Albania, Length: 62, dtype: object),
 ('Algeria',
  Country    Algeria
  1961         0.162
  1962         0.131
  1963          0.11
  1964         0.284
              ...
  2017         1.498
  2018         1.211
  2019         1.094
  2020         1.913
  2021         2.317
  Name: Algeria, Length: 62, dtype: object),
 ('Andorra, Principality of',
  Country    Andorra, Principality of
  1961                          0.744
  1962                          0.102
  1963                         -0.762
  1964                            0.3
                       ...
  2017                          1.771
  2018                          1.761
  2019                          1.813
  2020                          2.401
  2021                          1.367
  Name: Andorra, Principality of, Length: 62, dtype: object),
 ('Angola',
  Country    Angola
  1961        0.051
  1962       -0.145
  1963       -0.186
  1964       -0.228
              ...
  2017        1.064
  2018        1.504
  2019        1.975
  2020        1.387
  2021        1.631
  Name: Angola, Length: 62, dtype: object),
 ('Anguilla',
  Country    Anguilla
  1961          0.104
  1962         -0.091
  1963          0.153
  1964          0.128
               ...
  2017           0.98
  2018          0.728
  2019          0.861
  2020          1.246
  2021           0.91
  Name: Anguilla, Length: 62, dtype: object),
 ('Argentina',
  Country    Argentina
  1961           0.128
  1962           -0.03
  1963           0.175
  1964          -0.345
               ...
  2017             1.1
  2018           0.876
  2019           0.756
  2020           1.109
  2021           1.011
  Name: Argentina, Length: 62, dtype: object),
 ('Australia',
  Country    Australia
  1961           0.151
  1962           0.118
  1963          -0.111
  1964          -0.029
               ...
  2017           1.122
  2018           1.112
  2019           1.411
  2020           1.404
  2021           0.589
  Name: Australia, Length: 62, dtype: object),
 ('Austria',
  Country    Austria
  1961         1.031
  1962        -0.624
  1963        -0.729
  1964        -0.371
              ...
  2017         1.753
  2018         2.535
  2019         2.369
  2020          2.32
  2021         1.397
  Name: Austria, Length: 62, dtype: object),
 ('Bahamas, The',
  Country    Bahamas, The
  1961              0.064
  1962             -0.063
  1963              -0.06
  1964              0.215
                 ...
  2017              1.456
  2018              1.168
  2019              1.585
  2020              1.693
  2021              0.688
  Name: Bahamas, The, Length: 62, dtype: object),
 ('Bahrain, Kingdom of',
  Country    Bahrain, Kingdom of
  1961                    -0.412
  1962                     0.439
  1963                     0.667
  1964                    -0.536
                    ...
  2017                      1.95
  2018                      2.11
  2019                     1.986
  2020                     1.982
  2021                     2.427
  Name: Bahrain, Kingdom of, Length: 62, dtype: object),
 ('Bangladesh',
  Country    Bangladesh
  1961            0.157
  1962            -0.26
  1963           -0.088
  1964            0.102
                ...
  2017            1.085
  2018            0.866
  2019            1.109
  2020            0.915
  2021            1.315
  Name: Bangladesh, Length: 62, dtype: object),
 ('Belize',
  Country    Belize
  1961       -0.022
  1962       -0.146
  1963       -0.074
  1964       -0.075
              ...
  2017        1.144
  2018        0.612
  2019        1.309
  2020        1.511
  2021        1.077
  Name: Belize, Length: 62, dtype: object),
 ('Benin',
  Country    Benin
  1961      -0.136
  1962       -0.24
  1963       0.155
  1964      -0.214
             ...
  2017       1.372
  2018       1.233
  2019       1.329
  2020       1.236
  2021       1.735
  Name: Benin, Length: 62, dtype: object),
 ('Bhutan',
  Country    Bhutan
  1961        0.214
  1962       -0.294
  1963       -0.227
  1964         0.05
              ...
  2017        1.304
  2018        1.212
  2019        1.127
  2020        0.966
  2021        1.536
  Name: Bhutan, Length: 62, dtype: object),
 ('Bolivia',
  Country    Bolivia
  1961         0.304
  1962         0.106
  1963         0.487
  1964        -0.109
              ...
  2017         0.716
  2018         0.285
  2019         0.713
  2020         1.167
  2021         0.553
  Name: Bolivia, Length: 62, dtype: object),
 ('Botswana',
  Country    Botswana
  1961          0.084
  1962           0.19
  1963         -0.524
  1964         -0.096
               ...
  2017          0.367
  2018          1.059
  2019          1.912
  2020           0.85
  2021          0.004
  Name: Botswana, Length: 62, dtype: object),
 ('Brazil',
  Country    Brazil
  1961        0.141
  1962       -0.197
  1963        0.146
  1964       -0.237
              ...
  2017        1.375
  2018        1.168
  2019        1.547
  2020        1.483
  2021        1.167
  Name: Brazil, Length: 62, dtype: object),
 ('British Virgin Islands',
  Country    British Virgin Islands
  1961                        0.096
  1962                       -0.082
  1963                        0.115
  1964                        0.132
                      ...
  2017                        0.994
  2018                        0.761
  2019                        0.915
  2020                        1.351
  2021                        0.949
  Name: British Virgin Islands, Length: 62, dtype: object),
 ('Brunei Darussalam',
  Country    Brunei Darussalam
  1961                   0.093
  1962                    -0.1
  1963                  -0.164
  1964                   0.018
                   ...
  2017                   1.128
  2018                    1.07
  2019                   1.372
  2020                   1.367
  2021                   0.968
  Name: Brunei Darussalam, Length: 62, dtype: object),
 ('Bulgaria',
  Country    Bulgaria
  1961          0.901
  1962          0.488
  1963         -0.249
  1964         -0.532
               ...
  2017          0.987
  2018          2.228
  2019           2.19
  2020          2.182
  2021          1.795
  Name: Bulgaria, Length: 62, dtype: object),
 ('Burkina Faso',
  Country    Burkina Faso
  1961             -0.318
  1962             -0.236
  1963              0.146
  1964             -0.229
                 ...
  2017               1.34
  2018               1.27
  2019              1.196
  2020              1.194
  2021              1.772
  Name: Burkina Faso, Length: 62, dtype: object),
 ('Cambodia',
  Country    Cambodia
  1961         -0.062
  1962         -0.154
  1963         -0.328
  1964          0.156
               ...
  2017          1.091
  2018          0.759
  2019          1.513
  2020          1.365
  2021          0.893
  Name: Cambodia, Length: 62, dtype: object),
 ('Cameroon',
  Country    Cameroon
  1961         -0.129
  1962         -0.226
  1963          0.142
  1964         -0.157
               ...
  2017          1.101
  2018           1.03
  2019          1.446
  2020          1.006
  2021          1.113
  Name: Cameroon, Length: 62, dtype: object),
 ('Canada',
  Country    Canada
  1961        0.052
  1962       -0.122
  1963         0.33
  1964       -0.304
              ...
  2017        1.481
  2018        0.491
  2019         1.32
  2020        1.139
  2021        2.536
  Name: Canada, Length: 62, dtype: object),
 ('Central African Rep.',
  Country    Central African Rep.
  1961                     -0.007
  1962                     -0.318
  1963                      0.029
  1964                     -0.149
                     ...
  2017                      1.171
  2018                      1.179
  2019                      1.262
  2020                      1.179
  2021                      1.307
  Name: Central African Rep., Length: 62, dtype: object),
 ('Chad',
  Country     Chad
  1961      -0.422
  1962      -0.278
  1963       0.286
  1964      -0.202
             ...
  2017       0.966
  2018       1.551
  2019       1.433
  2020       1.154
  2021       1.018
  Name: Chad, Length: 62, dtype: object),
 ('Chile',
  Country    Chile
  1961      -0.247
  1962       0.314
  1963       0.129
  1964      -0.166
             ...
  2017       0.715
  2018       0.382
  2019        0.51
  2020       0.771
  2021       0.661
  Name: Chile, Length: 62, dtype: object),
 ('China, P.R.: Hong Kong',
  Country    China, P.R.: Hong Kong
  1961                        0.015
  1962                       -0.093
  1963                        0.296
  1964                        0.085
                      ...
  2017                        1.389
  2018                        1.234
  2019                        1.827
  2020                        1.901
  2021                        2.038
  Name: China, P.R.: Hong Kong, Length: 62, dtype: object),
 ('China, P.R.: Macao',
  Country    China, P.R.: Macao
  1961                    0.015
  1962                   -0.093
  1963                    0.296
  1964                    0.085
                    ...
  2017                    1.389
  2018                    1.234
  2019                    1.827
  2020                    1.901
  2021                    2.038
  Name: China, P.R.: Macao, Length: 62, dtype: object),
 ('China, P.R.: Mainland',
  Country    China, P.R.: Mainland
  1961                       0.257
  1962                      -0.142
  1963                       0.288
  1964                      -0.028
                     ...
  2017                       1.566
  2018                        1.35
  2019                       1.413
  2020                       1.636
  2021                       1.714
  Name: China, P.R.: Mainland, Length: 62, dtype: object),
 ('Colombia',
  Country    Colombia
  1961          0.003
  1962         -0.151
  1963         -0.048
  1964          0.031
               ...
  2017          0.656
  2018          0.995
  2019           1.25
  2020           1.41
  2021          0.898
  Name: Colombia, Length: 62, dtype: object),
 ('Congo, Dem. Rep. of the',
  Country    Congo, Dem. Rep. of the
  1961                        -0.021
  1962                        -0.168
  1963                        -0.045
  1964                        -0.123
                      ...
  2017                         1.395
  2018                         1.545
  2019                         1.633
  2020                         1.896
  2021                         1.821
  Name: Congo, Dem. Rep. of the, Length: 62, dtype: object),
 ('Cook Islands',
  Country    Cook Islands
  1961              0.115
  1962             -0.087
  1963             -0.123
  1964              0.136
                 ...
  2017              1.401
  2018              1.138
  2019              1.119
  2020              1.174
  2021              1.467
  Name: Cook Islands, Length: 62, dtype: object),
 ('Cuba',
  Country     Cuba
  1961      -0.094
  1962      -0.073
  1963      -0.105
  1964       0.114
             ...
  2017       1.284
  2018       1.111
  2019       1.572
  2020       1.603
  2021       1.311
  Name: Cuba, Length: 62, dtype: object),
 ('Cyprus',
  Country    Cyprus
  1961        0.017
  1962         0.78
  1963        0.728
  1964       -0.591
              ...
  2017        0.844
  2018        2.183
  2019        1.589
  2020        1.746
  2021        2.082
  Name: Cyprus, Length: 62, dtype: object),
 ('Denmark',
  Country    Denmark
  1961          1.12
  1962        -0.639
  1963        -1.018
  1964        -0.274
              ...
  2017         1.624
  2018         2.115
  2019         2.185
  2020         2.642
  2021         1.691
  Name: Denmark, Length: 62, dtype: object),
 ('Dominica',
  Country    Dominica
  1961         -0.058
  1962          0.041
  1963           0.16
  1964         -0.014
               ...
  2017          0.905
  2018          0.646
  2019          0.766
  2020          1.064
  2021          0.787
  Name: Dominica, Length: 62, dtype: object),
 ('Dominican Rep.',
  Country    Dominican Rep.
  1961                -0.04
  1962               -0.025
  1963                0.035
  1964                0.182
                  ...
  2017                1.108
  2018                1.274
  2019                1.246
  2020                1.588
  2021                1.136
  Name: Dominican Rep., Length: 62, dtype: object),
 ('Ecuador',
  Country    Ecuador
  1961         -0.19
  1962        -0.213
  1963        -0.139
  1964        -0.293
              ...
  2017          0.87
  2018         0.844
  2019          1.06
  2020          1.14
  2021         0.516
  Name: Ecuador, Length: 62, dtype: object),
 ('Egypt, Arab Rep. of',
  Country    Egypt, Arab Rep. of
  1961                    -0.258
  1962                     0.615
  1963                     0.636
  1964                    -0.371
                    ...
  2017                     0.539
  2018                     1.987
  2019                     0.975
  2020                     1.004
  2021                     1.607
  Name: Egypt, Arab Rep. of, Length: 62, dtype: object),
 ('El Salvador',
  Country    El Salvador
  1961            -0.089
  1962            -0.255
  1963             -0.18
  1964            -0.041
                ...
  2017             0.833
  2018             0.853
  2019             1.034
  2020             1.787
  2021             1.379
  Name: El Salvador, Length: 62, dtype: object),
 ('Eswatini, Kingdom of',
  Country    Eswatini, Kingdom of
  1961                      0.245
  1962                      0.443
  1963                     -0.192
  1964                      0.034
                     ...
  2017                      0.625
  2018                      1.108
  2019                      1.591
  2020                      0.551
  2021                      0.436
  Name: Eswatini, Kingdom of, Length: 62, dtype: object),
 ('Faroe Islands',
  Country    Faroe Islands
  1961               0.634
  1962              -0.476
  1963              -0.053
  1964               0.481
                 ...
  2017               1.496
  2018               0.837
  2019               0.881
  2020               0.843
  2021               1.014
  Name: Faroe Islands, Length: 62, dtype: object),
 ('Fiji, Rep. of',
  Country    Fiji, Rep. of
  1961               0.229
  1962              -0.083
  1963              -0.046
  1964               0.189
                 ...
  2017               1.152
  2018               0.794
  2019               1.018
  2020               1.232
  2021               1.119
  Name: Fiji, Rep. of, Length: 62, dtype: object),
 ('Finland',
  Country    Finland
  1961         1.906
  1962        -0.322
  1963        -0.386
  1964          0.35
              ...
  2017         1.477
  2018         2.144
  2019         1.436
  2020         3.305
  2021         1.923
  Name: Finland, Length: 62, dtype: object),
 ('France',
  Country    France
  1961        0.837
  1962       -0.296
  1963       -0.948
  1964         0.03
              ...
  2017        1.682
  2018        1.925
  2019        1.888
  2020        2.411
  2021        1.193
  Name: France, Length: 62, dtype: object),
 ('French Polynesia',
  Country    French Polynesia
  1961                   0.13
  1962                 -0.117
  1963                 -0.032
  1964                   -0.2
                   ...
  2017                  0.908
  2018                  0.638
  2019                  0.864
  2020                  0.828
  2021                  0.783
  Name: French Polynesia, Length: 62, dtype: object),
 ('Gabon',
  Country    Gabon
  1961      -0.182
  1962      -0.062
  1963       0.239
  1964      -0.147
             ...
  2017       1.105
  2018       0.809
  2019       1.402
  2020       1.287
  2021       0.881
  Name: Gabon, Length: 62, dtype: object),
 ('Gambia, The',
  Country    Gambia, The
  1961            -0.115
  1962            -0.034
  1963             0.135
  1964            -0.185
                ...
  2017             1.942
  2018             1.208
  2019             1.548
  2020             1.978
  2021             1.878
  Name: Gambia, The, Length: 62, dtype: object),
 ('Germany',
  Country    Germany
  1961          0.99
  1962        -0.751
  1963        -1.085
  1964         -0.33
              ...
  2017         1.636
  2018         2.377
  2019         2.314
  2020         2.499
  2021         1.304
  Name: Germany, Length: 62, dtype: object),
 ('Ghana',
  Country    Ghana
  1961      -0.061
  1962      -0.157
  1963       0.129
  1964      -0.213
             ...
  2017       1.569
  2018       1.237
  2019       1.489
  2020       1.491
  2021       1.701
  Name: Ghana, Length: 62, dtype: object),
 ('Gibraltar',
  Country    Gibraltar
  1961           0.593
  1962           0.548
  1963            0.07
  1964           0.501
               ...
  2017           2.057
  2018           0.778
  2019           1.326
  2020           1.972
  2021           1.576
  Name: Gibraltar, Length: 62, dtype: object),
 ('Greece',
  Country    Greece
  1961        0.472
  1962        0.609
  1963        0.296
  1964       -0.312
              ...
  2017         0.65
  2018        1.903
  2019        1.406
  2020        1.366
  2021        1.722
  Name: Greece, Length: 62, dtype: object),
 ('Greenland',
  Country    Greenland
  1961          -0.286
  1962           0.848
  1963           0.316
  1964           0.263
               ...
  2017             1.2
  2018           0.904
  2019           2.201
  2020           1.256
  2021           2.462
  Name: Greenland, Length: 62, dtype: object),
 ('Grenada',
  Country    Grenada
  1961         0.118
  1962         0.004
  1963         0.243
  1964        -0.123
              ...
  2017         0.974
  2018         0.629
  2019         0.892
  2020         1.179
  2021         0.887
  Name: Grenada, Length: 62, dtype: object),
 ('Guadeloupe',
  Country    Guadeloupe
  1961            0.043
  1962            -0.04
  1963             0.16
  1964            0.072
                ...
  2017            0.949
  2018            0.692
  2019            0.818
  2020            1.164
  2021            0.859
  Name: Guadeloupe, Length: 62, dtype: object),
 ('Guatemala',
  Country    Guatemala
  1961           -0.03
  1962          -0.117
  1963          -0.094
  1964          -0.049
               ...
  2017           1.056
  2018           0.835
  2019           1.364
  2020           1.724
  2021           1.442
  Name: Guatemala, Length: 62, dtype: object),
 ('Guiana, French',
  Country    Guiana, French
  1961               -0.169
  1962               -0.106
  1963               -0.082
  1964               -0.093
                  ...
  2017                1.409
  2018                1.149
  2019                1.466
  2020                1.575
  2021                1.266
  Name: Guiana, French, Length: 62, dtype: object),
 ('Guinea',
  Country    Guinea
  1961        -0.14
  1962        -0.15
  1963        0.151
  1964       -0.179
              ...
  2017        1.662
  2018        1.296
  2019         1.57
  2020        1.447
  2021        1.761

In [27]:
temp_new = temp_new[['Country', 'continent', 'sub_region', 'ISO3', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021']]
temp_new

,Country,continent,sub_region,ISO3,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"Afghanistan, Islamic Rep. of",Asia,Southern Asia,AFG,-0.105,-0.157,0.852,-0.743,-0.211,0.156,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,Albania,Europe,Southern Europe,ALB,0.627,0.330,0.068,-0.172,-0.393,0.553,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,Algeria,Africa,Northern Africa,DZA,0.162,0.131,0.110,0.284,-0.081,0.436,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
4,"Andorra, Principality of",Europe,Southern Europe,AND,0.744,0.102,-0.762,0.300,-0.492,0.407,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367
5,Angola,Africa,Middle Africa,AGO,0.051,-0.145,-0.186,-0.228,-0.207,0.162,...,0.576,1.090,0.879,1.430,1.847,1.064,1.504,1.975,1.387,1.631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Wallis and Futuna Islands,Oceania,Polynesia,WLF,0.323,-0.051,0.125,0.187,-0.410,0.048,...,0.617,0.683,0.606,0.646,1.159,0.960,0.688,1.110,1.082,0.775
221,West Bank and Gaza,Asia,Western Asia,PSE,-0.165,0.731,0.809,-0.654,-0.054,0.591,...,1.110,1.194,0.940,1.408,1.705,0.821,2.093,1.298,1.553,1.887
222,Western Sahara,Africa,Northern Africa,ESH,0.619,0.559,0.323,0.811,-0.342,0.295,...,1.234,1.282,1.244,1.277,1.636,2.078,0.851,1.430,2.026,1.557
224,Zambia,Africa,Eastern Africa,ZMB,0.220,-0.177,-0.397,-0.290,-0.421,0.291,...,0.926,0.746,0.638,1.486,1.474,0.721,0.727,1.295,1.252,1.002
225,Zimbabwe,Africa,Eastern Africa,ZWE,0.253,0.233,-0.460,-0.101,-0.476,0.211,...,0.329,0.102,-0.008,0.808,1.051,0.116,0.405,0.939,0.415,-0.101

In [72]:
global_mean_temp = temp_new.drop(columns= {'Country', 'continent','sub_region', 'ISO3'}).T.reset_index()
global_mean_temp = global_mean_temp.rename(columns={'index':'year'})
global_mean_temp

,year,0,1,2,4,5,6,8,11,12,...,214,215,217,218,219,220,221,222,224,225
0,1961,-0.105,0.627,0.162,0.744,0.051,0.104,0.128,0.151,1.031,...,0.076,0.398,0.197,0.038,0.002,0.323,-0.165,0.619,0.220,0.253
1,1962,-0.157,0.330,0.131,0.102,-0.145,-0.091,-0.030,0.118,-0.624,...,-0.103,-0.459,0.109,-0.120,-0.248,-0.051,0.731,0.559,-0.177,0.233
2,1963,0.852,0.068,0.110,-0.762,-0.186,0.153,0.175,-0.111,-0.729,...,0.115,0.344,-0.158,-0.014,-0.309,0.125,0.809,0.323,-0.397,-0.460
3,1964,-0.743,-0.172,0.284,0.300,-0.228,0.128,-0.345,-0.029,-0.371,...,0.140,-0.749,0.217,0.043,0.080,0.187,-0.654,0.811,-0.290,-0.101
4,1965,-0.211,-0.393,-0.081,-0.492,-0.207,-0.364,0.091,0.121,-0.884,...,-0.315,0.186,-0.549,-0.146,0.007,-0.410,-0.054,-0.342,-0.421,-0.476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2017,1.568,1.269,1.498,1.771,1.064,0.980,1.100,1.122,1.753,...,1.001,1.627,1.032,0.752,1.213,0.960,0.821,2.078,0.721,0.116
57,2018,1.580,2.146,1.211,1.761,1.504,0.728,0.876,1.112,2.535,...,0.778,1.289,0.445,0.808,0.905,0.688,2.093,0.851,0.727,0.405
58,2019,0.960,1.823,1.094,1.813,1.975,0.861,0.756,1.411,2.369,...,0.937,0.862,0.803,1.171,1.864,1.110,1.298,1.430,1.295,0.939
59,2020,0.544,1.623,1.913,2.401,1.387,1.246,1.109,1.404,2.320,...,1.362,1.086,1.146,1.293,1.588,1.082,1.553,2.026,1.252,0.415
60,2021,1.421,1.682,2.317,1.367,1.631,0.910,1.011,0.589,1.397,...,0.953,1.032,1.067,0.723,1.193,0.775,1.887,1.557,1.002,-0.101

In [74]:
global_mean_temp['mean'] = global_mean_temp.mean(numeric_only=True, axis=1)
global_mean_temp

,year,0,1,2,4,5,6,8,11,12,...,215,217,218,219,220,221,222,224,225,mean
0,1961,-0.105,0.627,0.162,0.744,0.051,0.104,0.128,0.151,1.031,...,0.398,0.197,0.038,0.002,0.323,-0.165,0.619,0.220,0.253,0.184715
1,1962,-0.157,0.330,0.131,0.102,-0.145,-0.091,-0.030,0.118,-0.624,...,-0.459,0.109,-0.120,-0.248,-0.051,0.731,0.559,-0.177,0.233,-0.017051
2,1963,0.852,0.068,0.110,-0.762,-0.186,0.153,0.175,-0.111,-0.729,...,0.344,-0.158,-0.014,-0.309,0.125,0.809,0.323,-0.397,-0.460,-0.020025
3,1964,-0.743,-0.172,0.284,0.300,-0.228,0.128,-0.345,-0.029,-0.371,...,-0.749,0.217,0.043,0.080,0.187,-0.654,0.811,-0.290,-0.101,-0.092095
4,1965,-0.211,-0.393,-0.081,-0.492,-0.207,-0.364,0.091,0.121,-0.884,...,0.186,-0.549,-0.146,0.007,-0.410,-0.054,-0.342,-0.421,-0.476,-0.240804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2017,1.568,1.269,1.498,1.771,1.064,0.980,1.100,1.122,1.753,...,1.627,1.032,0.752,1.213,0.960,0.821,2.078,0.721,0.116,1.268911
57,2018,1.580,2.146,1.211,1.761,1.504,0.728,0.876,1.112,2.535,...,1.289,0.445,0.808,0.905,0.688,2.093,0.851,0.727,0.405,1.241671
58,2019,0.960,1.823,1.094,1.813,1.975,0.861,0.756,1.411,2.369,...,0.862,0.803,1.171,1.864,1.110,1.298,1.430,1.295,0.939,1.384911
59,2020,0.544,1.623,1.913,2.401,1.387,1.246,1.109,1.404,2.320,...,1.086,1.146,1.293,1.588,1.082,1.553,2.026,1.252,0.415,1.476380
60,2021,1.421,1.682,2.317,1.367,1.631,0.910,1.011,0.589,1.397,...,1.032,1.067,0.723,1.193,0.775,1.887,1.557,1.002,-0.101,1.345715

In [81]:
global_mean_temp = global_mean_temp[['year', 'mean']].T
global_mean_temp

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
year,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
mean,0.184715,-0.017051,-0.020025,-0.092095,-0.240804,0.133582,-0.111867,-0.201823,0.147747,0.085158,...,0.848525,0.88288,1.078848,1.214146,1.409633,1.268911,1.241671,1.384911,1.47638,1.345715

In [87]:
new_header = global_mean_temp .iloc[0]
global_mean_temp = global_mean_temp[1:]
global_mean_temp.columns = new_header 
global_mean_temp

year,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
mean,0.184715,-0.017051,-0.020025,-0.092095,-0.240804,0.133582,-0.111867,-0.201823,0.147747,0.085158,...,0.848525,0.88288,1.078848,1.214146,1.409633,1.268911,1.241671,1.384911,1.47638,1.345715

In [89]:
global_mean_temp.to_json('global_temp.json', orient = 'records')

In [28]:
countries = temp_new['Country']

countries

0      Afghanistan, Islamic Rep. of
1                           Albania
2                           Algeria
4          Andorra, Principality of
5                            Angola
                   ...
220       Wallis and Futuna Islands
221              West Bank and Gaza
222                  Western Sahara
224                          Zambia
225                        Zimbabwe
Name: Country, Length: 158, dtype: object

In [29]:
countries.to_json("countries_list.json")

In [30]:
temp_new.to_json("country_temp_all.json")

In [31]:
temp_new

,Country,continent,sub_region,ISO3,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"Afghanistan, Islamic Rep. of",Asia,Southern Asia,AFG,-0.105,-0.157,0.852,-0.743,-0.211,0.156,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,Albania,Europe,Southern Europe,ALB,0.627,0.330,0.068,-0.172,-0.393,0.553,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,Algeria,Africa,Northern Africa,DZA,0.162,0.131,0.110,0.284,-0.081,0.436,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
4,"Andorra, Principality of",Europe,Southern Europe,AND,0.744,0.102,-0.762,0.300,-0.492,0.407,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367
5,Angola,Africa,Middle Africa,AGO,0.051,-0.145,-0.186,-0.228,-0.207,0.162,...,0.576,1.090,0.879,1.430,1.847,1.064,1.504,1.975,1.387,1.631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Wallis and Futuna Islands,Oceania,Polynesia,WLF,0.323,-0.051,0.125,0.187,-0.410,0.048,...,0.617,0.683,0.606,0.646,1.159,0.960,0.688,1.110,1.082,0.775
221,West Bank and Gaza,Asia,Western Asia,PSE,-0.165,0.731,0.809,-0.654,-0.054,0.591,...,1.110,1.194,0.940,1.408,1.705,0.821,2.093,1.298,1.553,1.887
222,Western Sahara,Africa,Northern Africa,ESH,0.619,0.559,0.323,0.811,-0.342,0.295,...,1.234,1.282,1.244,1.277,1.636,2.078,0.851,1.430,2.026,1.557
224,Zambia,Africa,Eastern Africa,ZMB,0.220,-0.177,-0.397,-0.290,-0.421,0.291,...,0.926,0.746,0.638,1.486,1.474,0.721,0.727,1.295,1.252,1.002
225,Zimbabwe,Africa,Eastern Africa,ZWE,0.253,0.233,-0.460,-0.101,-0.476,0.211,...,0.329,0.102,-0.008,0.808,1.051,0.116,0.405,0.939,0.415,-0.101

In [32]:
countries = temp_new['Country']
countries = countries.to_list()
countries

['Afghanistan, Islamic Rep. of',
 'Albania',
 'Algeria',
 'Andorra, Principality of',
 'Angola',
 'Anguilla',
 'Argentina',
 'Australia',
 'Austria',
 'Bahamas, The',
 'Bahrain, Kingdom of',
 'Bangladesh',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Rep.',
 'Chad',
 'Chile',
 'China, P.R.: Hong Kong',
 'China, P.R.: Macao',
 'China, P.R.: Mainland',
 'Colombia',
 'Congo, Dem. Rep. of the',
 'Cook Islands',
 'Cuba',
 'Cyprus',
 'Denmark',
 'Dominica',
 'Dominican Rep.',
 'Ecuador',
 'Egypt, Arab Rep. of',
 'El Salvador',
 'Eswatini, Kingdom of',
 'Faroe Islands',
 'Fiji, Rep. of',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guiana, French',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep. of',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Japan',
 'Jordan',
 'Kenya',
 "Korea, Dem. People's Rep. of",
 'Korea, Rep. of',
 'Kuwait',
 "Lao People's Dem. Rep.",
 'Lebanon',
 'Lesotho, Kingdom of',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Madagascar, Rep. of',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Martinique',
 'Mauritania, Islamic Rep. of',
 'Mauritius',
 'Mexico',
 'Monaco',
 'Mongolia',
 'Morocco',
 'Mozambique, Rep. of',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands, The',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland, Rep. of',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Saint Helena',
 'Saint Pierre and Miquelon',
 'San Marino, Rep. of',
 'Saudi Arabia',
 'Senegal',
 'Seychelles',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Rep.',
 'Taiwan Province of China',
 'Tanzania, United Rep. of',
 'Thailand',
 'Togo',
 'Tonga',
 'Tunisia',
 'Turkey',
 'Uganda',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Virgin Islands',
 'Uruguay',
 'Vanuatu',
 'Venezuela, Rep. Bolivariana de',
 'Vietnam',
 'Wallis and Futuna Islands',
 'West Bank and Gaza',
 'Western Sahara',
 'Zambia',
 'Zimbabwe']

In [33]:
import json

with open('countries.json', 'w') as file:
    json_string = json.dumps(countries)
    file.write(json_string)

In [34]:
metadata = temp_new.loc[:,'Country':"ISO3"]
metadata = metadata.T.to_dict()
metadata

{0: {'Country': 'Afghanistan, Islamic Rep. of',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'AFG'},
 1: {'Country': 'Albania',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'ALB'},
 2: {'Country': 'Algeria',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'DZA'},
 4: {'Country': 'Andorra, Principality of',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'AND'},
 5: {'Country': 'Angola',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'AGO'},
 6: {'Country': 'Anguilla',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'AIA'},
 8: {'Country': 'Argentina',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'ARG'},
 11: {'Country': 'Australia',
  'continent': 'Oceania',
  'sub_region': 'Australia and New Zealand',
  'ISO3': 'AUS'},
 12: {'Country': 'Austria',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'AUT'},
 14: {'Country': 'Bahamas, The',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'BHS'},
 15: {'Country': 'Bahrain, Kingdom of',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'BHR'},
 16: {'Country': 'Bangladesh',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'BGD'},
 20: {'Country': 'Belize',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'BLZ'},
 21: {'Country': 'Benin',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'BEN'},
 22: {'Country': 'Bhutan',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'BTN'},
 23: {'Country': 'Bolivia',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'BOL'},
 25: {'Country': 'Botswana',
  'continent': 'Africa',
  'sub_region': 'Southern Africa',
  'ISO3': 'BWA'},
 26: {'Country': 'Brazil',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'BRA'},
 27: {'Country': 'British Virgin Islands',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'VGB'},
 28: {'Country': 'Brunei Darussalam',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'BRN'},
 29: {'Country': 'Bulgaria',
  'continent': 'Europe',
  'sub_region': 'Eastern Europe',
  'ISO3': 'BGR'},
 30: {'Country': 'Burkina Faso',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'BFA'},
 33: {'Country': 'Cambodia',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'KHM'},
 34: {'Country': 'Cameroon',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'CMR'},
 35: {'Country': 'Canada',
  'continent': 'Americas',
  'sub_region': 'Northern America',
  'ISO3': 'CAN'},
 37: {'Country': 'Central African Rep.',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'CAF'},
 38: {'Country': 'Chad',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'TCD'},
 39: {'Country': 'Chile',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'CHL'},
 40: {'Country': 'China, P.R.: Hong Kong',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'HKG'},
 41: {'Country': 'China, P.R.: Macao',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'MAC'},
 42: {'Country': 'China, P.R.: Mainland',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'CHN'},
 43: {'Country': 'Colombia',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'COL'},
 45: {'Country': 'Congo, Dem. Rep. of the',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'COD'},
 47: {'Country': 'Cook Islands',
  'continent': 'Oceania',
  'sub_region': 'Polynesia',
  'ISO3': 'COK'},
 50: {'Country': 'Cuba',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'CUB'},
 51: {'Country': 'Cyprus',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'CYP'},
 53: {'Country': 'Denmark',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'DNK'},
 55: {'Country': 'Dominica',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'DMA'},
 56: {'Country': 'Dominican Rep.',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'DOM'},
 57: {'Country': 'Ecuador',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'ECU'},
 58: {'Country': 'Egypt, Arab Rep. of',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'EGY'},
 59: {'Country': 'El Salvador',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'SLV'},
 63: {'Country': 'Eswatini, Kingdom of',
  'continent': 'Africa',
  'sub_region': 'Southern Africa',
  'ISO3': 'SWZ'},
 66: {'Country': 'Faroe Islands',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'FRO'},
 67: {'Country': 'Fiji, Rep. of',
  'continent': 'Oceania',
  'sub_region': 'Melanesia',
  'ISO3': 'FJI'},
 68: {'Country': 'Finland',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'FIN'},
 69: {'Country': 'France',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'FRA'},
 70: {'Country': 'French Polynesia',
  'continent': 'Oceania',
  'sub_region': 'Polynesia',
  'ISO3': 'PYF'},
 71: {'Country': 'Gabon',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'GAB'},
 72: {'Country': 'Gambia, The',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'GMB'},
 74: {'Country': 'Germany',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'DEU'},
 75: {'Country': 'Ghana',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'GHA'},
 76: {'Country': 'Gibraltar',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'GIB'},
 77: {'Country': 'Greece',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'GRC'},
 78: {'Country': 'Greenland',
  'continent': 'Americas',
  'sub_region': 'Northern America',
  'ISO3': 'GRL'},
 79: {'Country': 'Grenada',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'GRD'},
 80: {'Country': 'Guadeloupe',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'GLP'},
 81: {'Country': 'Guatemala',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'GTM'},
 82: {'Country': 'Guiana, French',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'GUF'},
 83: {'Country': 'Guinea',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'GIN'},
 84: {'Country': 'Guinea-Bissau',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'GNB'},
 85: {'Country': 'Guyana',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'GUY'},
 86: {'Country': 'Haiti',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'HTI'},
 87: {'Country': 'Holy See',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'VAT'},
 88: {'Country': 'Honduras',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'HND'},
 89: {'Country': 'Hungary',
  'continent': 'Europe',
  'sub_region': 'Eastern Europe',
  'ISO3': 'HUN'},
 90: {'Country': 'Iceland',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'ISL'},
 91: {'Country': 'India',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'IND'},
 92: {'Country': 'Indonesia',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'IDN'},
 93: {'Country': 'Iran, Islamic Rep. of',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'IRN'},
 94: {'Country': 'Iraq',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'IRQ'},
 95: {'Country': 'Ireland',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'IRL'},
 96: {'Country': 'Isle of Man',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'IMN'},
 97: {'Country': 'Israel',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'ISR'},
 98: {'Country': 'Italy',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'ITA'},
 100: {'Country': 'Japan',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'JPN'},
 101: {'Country': 'Jordan',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'JOR'},
 103: {'Country': 'Kenya',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'KEN'},
 105: {'Country': "Korea, Dem. People's Rep. of",
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'PRK'},
 106: {'Country': 'Korea, Rep. of',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'KOR'},
 107: {'Country': 'Kuwait',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'KWT'},
 109: {'Country': "Lao People's Dem. Rep.",
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'LAO'},
 111: {'Country': 'Lebanon',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'LBN'},
 112: {'Country': 'Lesotho, Kingdom of',
  'continent': 'Africa',
  'sub_region': 'Southern Africa',
  'ISO3': 'LSO'},
 113: {'Country': 'Liberia',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'LBR'},
 114: {'Country': 'Libya',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'LBY'},
 115: {'Country': 'Liechtenstein',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'LIE'},
 118: {'Country': 'Madagascar, Rep. of',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'MDG'},
 119: {'Country': 'Malawi',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'MWI'},
 120: {'Country': 'Malaysia',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'MYS'},
 122: {'Country': 'Mali',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'MLI'},
 123: {'Country': 'Malta',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'MLT'},
 125: {'Country': 'Martinique',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'MTQ'},
 126: {'Country': 'Mauritania, Islamic Rep. of',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'MRT'},
 127: {'Country': 'Mauritius',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'MUS'},
 129: {'Country': 'Mexico',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'MEX'},
 132: {'Country': 'Monaco',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'MCO'},
 133: {'Country': 'Mongolia',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'MNG'},
 136: {'Country': 'Morocco',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'MAR'},
 137: {'Country': 'Mozambique, Rep. of',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'MOZ'},
 138: {'Country': 'Myanmar',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'MMR'},
 139: {'Country': 'Namibia',
  'continent': 'Africa',
  'sub_region': 'Southern Africa',
  'ISO3': 'NAM'},
 141: {'Country': 'Nepal',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'NPL'},
 142: {'Country': 'Netherlands, The',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'NLD'},
 143: {'Country': 'New Caledonia',
  'continent': 'Oceania',
  'sub_region': 'Melanesia',
  'ISO3': 'NCL'},
 144: {'Country': 'New Zealand',
  'continent': 'Oceania',
  'sub_region': 'Australia and New Zealand',
  'ISO3': 'NZL'},
 145: {'Country': 'Nicaragua',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'NIC'},
 146: {'Country': 'Niger',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'NER'},
 147: {'Country': 'Nigeria',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'NGA'},
 151: {'Country': 'Norway',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'NOR'},
 152: {'Country': 'Oman',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'OMN'},
 153: {'Country': 'Pakistan',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'PAK'},
 156: {'Country': 'Papua New Guinea',
  'continent': 'Oceania',
  'sub_region': 'Melanesia',
  'ISO3': 'PNG'},
 157: {'Country': 'Paraguay',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'PRY'},
 158: {'Country': 'Peru',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'PER'},
 159: {'Country': 'Philippines',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'PHL'},
 161: {'Country': 'Poland, Rep. of',
  'continent': 'Europe',
  'sub_region': 'Eastern Europe',
  'ISO3': 'POL'},
 162: {'Country': 'Portugal',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'PRT'},
 163: {'Country': 'Puerto Rico',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'PRI'},
 164: {'Country': 'Qatar',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'QAT'},
 165: {'Country': 'Romania',
  'continent': 'Europe',
  'sub_region': 'Eastern Europe',
  'ISO3': 'ROU'},
 168: {'Country': 'Saint Helena',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'SHN'},
 169: {'Country': 'Saint Pierre and Miquelon',
  'continent': 'Americas',
  'sub_region': 'Northern America',
  'ISO3': 'SPM'},
 171: {'Country': 'San Marino, Rep. of',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'SMR'},
 173: {'Country': 'Saudi Arabia',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'SAU'},
 174: {'Country': 'Senegal',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'SEN'},
 176: {'Country': 'Seychelles',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'SYC'},
 182: {'Country': 'Somalia',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'SOM'},
 183: {'Country': 'South Africa',
  'continent': 'Africa',
  'sub_region': 'Southern Africa',
  'ISO3': 'ZAF'},
 185: {'Country': 'Spain',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'ESP'},
 186: {'Country': 'Sri Lanka',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'LKA'},
 188: {'Country': 'St. Lucia',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'LCA'},
 189: {'Country': 'St. Vincent and the Grenadines',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'VCT'},
 191: {'Country': 'Suriname',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'SUR'},
 192: {'Country': 'Sweden',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'SWE'},
 193: {'Country': 'Switzerland',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'CHE'},
 194: {'Country': 'Syrian Arab Rep.',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'SYR'},
 195: {'Country': 'Taiwan Province of China',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'TWN'},
 197: {'Country': 'Tanzania, United Rep. of',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'TZA'},
 198: {'Country': 'Thailand',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'THA'},
 200: {'Country': 'Togo',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'TGO'},
 202: {'Country': 'Tonga',
  'continent': 'Oceania',
  'sub_region': 'Polynesia',
  'ISO3': 'TON'},
 204: {'Country': 'Tunisia',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'TUN'},
 205: {'Country': 'Turkey',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'TUR'},
 209: {'Country': 'Uganda',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'UGA'},
 211: {'Country': 'United Arab Emirates',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'ARE'},
 212: {'Country': 'United Kingdom',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'GBR'},
 213: {'Country': 'United States',
  'continent': 'Americas',
  'sub_region': 'Northern America',
  'ISO3': 'USA'},
 214: {'Country': 'United States Virgin Islands',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'VIR'},
 215: {'Country': 'Uruguay',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'URY'},
 217: {'Country': 'Vanuatu',
  'continent': 'Oceania',
  'sub_region': 'Melanesia',
  'ISO3': 'VUT'},
 218: {'Country': 'Venezuela, Rep. Bolivariana de',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'VEN'},
 219: {'Country': 'Vietnam',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'VNM'},
 220: {'Country': 'Wallis and Futuna Islands',
  'continent': 'Oceania',
  'sub_region': 'Polynesia',
  'ISO3': 'WLF'},
 221: {'Country': 'West Bank and Gaza',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'PSE'},
 222: {'Country': 'Western Sahara',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'ESH'},
 224: {'Country': 'Zambia',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'ZMB'},
 225: {'Country': 'Zimbabwe',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'ZWE'}}

In [35]:
metadata= list(metadata.values())
metadata

[{'Country': 'Afghanistan, Islamic Rep. of',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'AFG'},
 {'Country': 'Albania',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'ALB'},
 {'Country': 'Algeria',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'DZA'},
 {'Country': 'Andorra, Principality of',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'AND'},
 {'Country': 'Angola',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'AGO'},
 {'Country': 'Anguilla',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'AIA'},
 {'Country': 'Argentina',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'ARG'},
 {'Country': 'Australia',
  'continent': 'Oceania',
  'sub_region': 'Australia and New Zealand',
  'ISO3': 'AUS'},
 {'Country': 'Austria',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'AUT'},
 {'Country': 'Bahamas, The',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'BHS'},
 {'Country': 'Bahrain, Kingdom of',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'BHR'},
 {'Country': 'Bangladesh',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'BGD'},
 {'Country': 'Belize',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'BLZ'},
 {'Country': 'Benin',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'BEN'},
 {'Country': 'Bhutan',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'BTN'},
 {'Country': 'Bolivia',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'BOL'},
 {'Country': 'Botswana',
  'continent': 'Africa',
  'sub_region': 'Southern Africa',
  'ISO3': 'BWA'},
 {'Country': 'Brazil',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'BRA'},
 {'Country': 'British Virgin Islands',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'VGB'},
 {'Country': 'Brunei Darussalam',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'BRN'},
 {'Country': 'Bulgaria',
  'continent': 'Europe',
  'sub_region': 'Eastern Europe',
  'ISO3': 'BGR'},
 {'Country': 'Burkina Faso',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'BFA'},
 {'Country': 'Cambodia',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'KHM'},
 {'Country': 'Cameroon',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'CMR'},
 {'Country': 'Canada',
  'continent': 'Americas',
  'sub_region': 'Northern America',
  'ISO3': 'CAN'},
 {'Country': 'Central African Rep.',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'CAF'},
 {'Country': 'Chad',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'TCD'},
 {'Country': 'Chile',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'CHL'},
 {'Country': 'China, P.R.: Hong Kong',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'HKG'},
 {'Country': 'China, P.R.: Macao',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'MAC'},
 {'Country': 'China, P.R.: Mainland',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'CHN'},
 {'Country': 'Colombia',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'COL'},
 {'Country': 'Congo, Dem. Rep. of the',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'COD'},
 {'Country': 'Cook Islands',
  'continent': 'Oceania',
  'sub_region': 'Polynesia',
  'ISO3': 'COK'},
 {'Country': 'Cuba',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'CUB'},
 {'Country': 'Cyprus',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'CYP'},
 {'Country': 'Denmark',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'DNK'},
 {'Country': 'Dominica',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'DMA'},
 {'Country': 'Dominican Rep.',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'DOM'},
 {'Country': 'Ecuador',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'ECU'},
 {'Country': 'Egypt, Arab Rep. of',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'EGY'},
 {'Country': 'El Salvador',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'SLV'},
 {'Country': 'Eswatini, Kingdom of',
  'continent': 'Africa',
  'sub_region': 'Southern Africa',
  'ISO3': 'SWZ'},
 {'Country': 'Faroe Islands',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'FRO'},
 {'Country': 'Fiji, Rep. of',
  'continent': 'Oceania',
  'sub_region': 'Melanesia',
  'ISO3': 'FJI'},
 {'Country': 'Finland',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'FIN'},
 {'Country': 'France',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'FRA'},
 {'Country': 'French Polynesia',
  'continent': 'Oceania',
  'sub_region': 'Polynesia',
  'ISO3': 'PYF'},
 {'Country': 'Gabon',
  'continent': 'Africa',
  'sub_region': 'Middle Africa',
  'ISO3': 'GAB'},
 {'Country': 'Gambia, The',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'GMB'},
 {'Country': 'Germany',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'DEU'},
 {'Country': 'Ghana',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'GHA'},
 {'Country': 'Gibraltar',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'GIB'},
 {'Country': 'Greece',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'GRC'},
 {'Country': 'Greenland',
  'continent': 'Americas',
  'sub_region': 'Northern America',
  'ISO3': 'GRL'},
 {'Country': 'Grenada',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'GRD'},
 {'Country': 'Guadeloupe',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'GLP'},
 {'Country': 'Guatemala',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'GTM'},
 {'Country': 'Guiana, French',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'GUF'},
 {'Country': 'Guinea',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'GIN'},
 {'Country': 'Guinea-Bissau',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'GNB'},
 {'Country': 'Guyana',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'GUY'},
 {'Country': 'Haiti',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'HTI'},
 {'Country': 'Holy See',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'VAT'},
 {'Country': 'Honduras',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'HND'},
 {'Country': 'Hungary',
  'continent': 'Europe',
  'sub_region': 'Eastern Europe',
  'ISO3': 'HUN'},
 {'Country': 'Iceland',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'ISL'},
 {'Country': 'India',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'IND'},
 {'Country': 'Indonesia',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'IDN'},
 {'Country': 'Iran, Islamic Rep. of',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'IRN'},
 {'Country': 'Iraq',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'IRQ'},
 {'Country': 'Ireland',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'IRL'},
 {'Country': 'Isle of Man',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'IMN'},
 {'Country': 'Israel',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'ISR'},
 {'Country': 'Italy',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'ITA'},
 {'Country': 'Japan',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'JPN'},
 {'Country': 'Jordan',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'JOR'},
 {'Country': 'Kenya',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'KEN'},
 {'Country': "Korea, Dem. People's Rep. of",
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'PRK'},
 {'Country': 'Korea, Rep. of',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'KOR'},
 {'Country': 'Kuwait',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'KWT'},
 {'Country': "Lao People's Dem. Rep.",
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'LAO'},
 {'Country': 'Lebanon',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'LBN'},
 {'Country': 'Lesotho, Kingdom of',
  'continent': 'Africa',
  'sub_region': 'Southern Africa',
  'ISO3': 'LSO'},
 {'Country': 'Liberia',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'LBR'},
 {'Country': 'Libya',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'LBY'},
 {'Country': 'Liechtenstein',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'LIE'},
 {'Country': 'Madagascar, Rep. of',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'MDG'},
 {'Country': 'Malawi',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'MWI'},
 {'Country': 'Malaysia',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'MYS'},
 {'Country': 'Mali',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'MLI'},
 {'Country': 'Malta',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'MLT'},
 {'Country': 'Martinique',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'MTQ'},
 {'Country': 'Mauritania, Islamic Rep. of',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'MRT'},
 {'Country': 'Mauritius',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'MUS'},
 {'Country': 'Mexico',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'MEX'},
 {'Country': 'Monaco',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'MCO'},
 {'Country': 'Mongolia',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'MNG'},
 {'Country': 'Morocco',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'MAR'},
 {'Country': 'Mozambique, Rep. of',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'MOZ'},
 {'Country': 'Myanmar',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'MMR'},
 {'Country': 'Namibia',
  'continent': 'Africa',
  'sub_region': 'Southern Africa',
  'ISO3': 'NAM'},
 {'Country': 'Nepal',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'NPL'},
 {'Country': 'Netherlands, The',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'NLD'},
 {'Country': 'New Caledonia',
  'continent': 'Oceania',
  'sub_region': 'Melanesia',
  'ISO3': 'NCL'},
 {'Country': 'New Zealand',
  'continent': 'Oceania',
  'sub_region': 'Australia and New Zealand',
  'ISO3': 'NZL'},
 {'Country': 'Nicaragua',
  'continent': 'Americas',
  'sub_region': 'Central America',
  'ISO3': 'NIC'},
 {'Country': 'Niger',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'NER'},
 {'Country': 'Nigeria',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'NGA'},
 {'Country': 'Norway',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'NOR'},
 {'Country': 'Oman',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'OMN'},
 {'Country': 'Pakistan',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'PAK'},
 {'Country': 'Papua New Guinea',
  'continent': 'Oceania',
  'sub_region': 'Melanesia',
  'ISO3': 'PNG'},
 {'Country': 'Paraguay',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'PRY'},
 {'Country': 'Peru',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'PER'},
 {'Country': 'Philippines',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'PHL'},
 {'Country': 'Poland, Rep. of',
  'continent': 'Europe',
  'sub_region': 'Eastern Europe',
  'ISO3': 'POL'},
 {'Country': 'Portugal',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'PRT'},
 {'Country': 'Puerto Rico',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'PRI'},
 {'Country': 'Qatar',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'QAT'},
 {'Country': 'Romania',
  'continent': 'Europe',
  'sub_region': 'Eastern Europe',
  'ISO3': 'ROU'},
 {'Country': 'Saint Helena',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'SHN'},
 {'Country': 'Saint Pierre and Miquelon',
  'continent': 'Americas',
  'sub_region': 'Northern America',
  'ISO3': 'SPM'},
 {'Country': 'San Marino, Rep. of',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'SMR'},
 {'Country': 'Saudi Arabia',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'SAU'},
 {'Country': 'Senegal',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'SEN'},
 {'Country': 'Seychelles',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'SYC'},
 {'Country': 'Somalia',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'SOM'},
 {'Country': 'South Africa',
  'continent': 'Africa',
  'sub_region': 'Southern Africa',
  'ISO3': 'ZAF'},
 {'Country': 'Spain',
  'continent': 'Europe',
  'sub_region': 'Southern Europe',
  'ISO3': 'ESP'},
 {'Country': 'Sri Lanka',
  'continent': 'Asia',
  'sub_region': 'Southern Asia',
  'ISO3': 'LKA'},
 {'Country': 'St. Lucia',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'LCA'},
 {'Country': 'St. Vincent and the Grenadines',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'VCT'},
 {'Country': 'Suriname',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'SUR'},
 {'Country': 'Sweden',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'SWE'},
 {'Country': 'Switzerland',
  'continent': 'Europe',
  'sub_region': 'Western Europe',
  'ISO3': 'CHE'},
 {'Country': 'Syrian Arab Rep.',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'SYR'},
 {'Country': 'Taiwan Province of China',
  'continent': 'Asia',
  'sub_region': 'Eastern Asia',
  'ISO3': 'TWN'},
 {'Country': 'Tanzania, United Rep. of',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'TZA'},
 {'Country': 'Thailand',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'THA'},
 {'Country': 'Togo',
  'continent': 'Africa',
  'sub_region': 'Western Africa',
  'ISO3': 'TGO'},
 {'Country': 'Tonga',
  'continent': 'Oceania',
  'sub_region': 'Polynesia',
  'ISO3': 'TON'},
 {'Country': 'Tunisia',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'TUN'},
 {'Country': 'Turkey',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'TUR'},
 {'Country': 'Uganda',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'UGA'},
 {'Country': 'United Arab Emirates',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'ARE'},
 {'Country': 'United Kingdom',
  'continent': 'Europe',
  'sub_region': 'Northern Europe',
  'ISO3': 'GBR'},
 {'Country': 'United States',
  'continent': 'Americas',
  'sub_region': 'Northern America',
  'ISO3': 'USA'},
 {'Country': 'United States Virgin Islands',
  'continent': 'Americas',
  'sub_region': 'Caribbean',
  'ISO3': 'VIR'},
 {'Country': 'Uruguay',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'URY'},
 {'Country': 'Vanuatu',
  'continent': 'Oceania',
  'sub_region': 'Melanesia',
  'ISO3': 'VUT'},
 {'Country': 'Venezuela, Rep. Bolivariana de',
  'continent': 'Americas',
  'sub_region': 'South America',
  'ISO3': 'VEN'},
 {'Country': 'Vietnam',
  'continent': 'Asia',
  'sub_region': 'South-Eastern Asia',
  'ISO3': 'VNM'},
 {'Country': 'Wallis and Futuna Islands',
  'continent': 'Oceania',
  'sub_region': 'Polynesia',
  'ISO3': 'WLF'},
 {'Country': 'West Bank and Gaza',
  'continent': 'Asia',
  'sub_region': 'Western Asia',
  'ISO3': 'PSE'},
 {'Country': 'Western Sahara',
  'continent': 'Africa',
  'sub_region': 'Northern Africa',
  'ISO3': 'ESH'},
 {'Country': 'Zambia',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'ZMB'},
 {'Country': 'Zimbabwe',
  'continent': 'Africa',
  'sub_region': 'Eastern Africa',
  'ISO3': 'ZWE'}]

In [36]:
with open('metadata_temp.json', 'w') as file:
    json_string = json.dumps(metadata)
    file.write(json_string)

In [37]:
temp_new.columns

Index(['Country', 'continent', 'sub_region', 'ISO3', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021'],
      dtype='object')

In [38]:
samples = temp_new.loc[:,['Country', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021']]
# samples = samples.set_index("Country").T
# #samples = samples.T
samples

,Country,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"Afghanistan, Islamic Rep. of",-0.105,-0.157,0.852,-0.743,-0.211,0.156,-0.389,-0.384,-0.539,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,Albania,0.627,0.330,0.068,-0.172,-0.393,0.553,-0.080,0.073,-0.023,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,Algeria,0.162,0.131,0.110,0.284,-0.081,0.436,0.006,-0.027,0.278,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
4,"Andorra, Principality of",0.744,0.102,-0.762,0.300,-0.492,0.407,0.621,-0.013,-0.176,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367
5,Angola,0.051,-0.145,-0.186,-0.228,-0.207,0.162,-0.088,-0.194,0.191,...,0.576,1.090,0.879,1.430,1.847,1.064,1.504,1.975,1.387,1.631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Wallis and Futuna Islands,0.323,-0.051,0.125,0.187,-0.410,0.048,-0.255,-0.096,-0.210,...,0.617,0.683,0.606,0.646,1.159,0.960,0.688,1.110,1.082,0.775
221,West Bank and Gaza,-0.165,0.731,0.809,-0.654,-0.054,0.591,-0.933,-0.093,0.241,...,1.110,1.194,0.940,1.408,1.705,0.821,2.093,1.298,1.553,1.887
222,Western Sahara,0.619,0.559,0.323,0.811,-0.342,0.295,0.013,-0.351,0.377,...,1.234,1.282,1.244,1.277,1.636,2.078,0.851,1.430,2.026,1.557
224,Zambia,0.220,-0.177,-0.397,-0.290,-0.421,0.291,-0.013,-0.124,0.248,...,0.926,0.746,0.638,1.486,1.474,0.721,0.727,1.295,1.252,1.002
225,Zimbabwe,0.253,0.233,-0.460,-0.101,-0.476,0.211,-0.051,0.096,0.219,...,0.329,0.102,-0.008,0.808,1.051,0.116,0.405,0.939,0.415,-0.101

In [39]:
sample_values = samples.loc[:, '1961':'2021']
#sample_values  = sample_values.T
sample_values

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,-0.105,-0.157,0.852,-0.743,-0.211,0.156,-0.389,-0.384,-0.539,0.898,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,0.627,0.330,0.068,-0.172,-0.393,0.553,-0.080,0.073,-0.023,-0.119,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,0.162,0.131,0.110,0.284,-0.081,0.436,0.006,-0.027,0.278,0.114,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
4,0.744,0.102,-0.762,0.300,-0.492,0.407,0.621,-0.013,-0.176,0.081,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367
5,0.051,-0.145,-0.186,-0.228,-0.207,0.162,-0.088,-0.194,0.191,0.249,...,0.576,1.090,0.879,1.430,1.847,1.064,1.504,1.975,1.387,1.631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,0.323,-0.051,0.125,0.187,-0.410,0.048,-0.255,-0.096,-0.210,0.053,...,0.617,0.683,0.606,0.646,1.159,0.960,0.688,1.110,1.082,0.775
221,-0.165,0.731,0.809,-0.654,-0.054,0.591,-0.933,-0.093,0.241,0.216,...,1.110,1.194,0.940,1.408,1.705,0.821,2.093,1.298,1.553,1.887
222,0.619,0.559,0.323,0.811,-0.342,0.295,0.013,-0.351,0.377,0.547,...,1.234,1.282,1.244,1.277,1.636,2.078,0.851,1.430,2.026,1.557
224,0.220,-0.177,-0.397,-0.290,-0.421,0.291,-0.013,-0.124,0.248,0.354,...,0.926,0.746,0.638,1.486,1.474,0.721,0.727,1.295,1.252,1.002
225,0.253,0.233,-0.460,-0.101,-0.476,0.211,-0.051,0.096,0.219,0.427,...,0.329,0.102,-0.008,0.808,1.051,0.116,0.405,0.939,0.415,-0.101

In [40]:
sample_values = pd.melt(sample_values)
sample_values =sample_values.rename(columns={'variable':'year', 'value':'sample_value'})
sample_values

      year  sample_value
0     1961        -0.105
1     1961         0.627
2     1961         0.162
3     1961         0.744
4     1961         0.051
...    ...           ...
9633  2021         0.775
9634  2021         1.887
9635  2021         1.557
9636  2021         1.002
9637  2021        -0.101

[9638 rows x 2 columns]

In [41]:
samples_list = list(sample_values.items())
samples_list

[('year',
  0       1961
  1       1961
  2       1961
  3       1961
  4       1961
          ...
  9633    2021
  9634    2021
  9635    2021
  9636    2021
  9637    2021
  Name: year, Length: 9638, dtype: object),
 ('sample_value',
  0      -0.105
  1       0.627
  2       0.162
  3       0.744
  4       0.051
          ...
  9633    0.775
  9634    1.887
  9635    1.557
  9636    1.002
  9637   -0.101
  Name: sample_value, Length: 9638, dtype: float64)]

In [42]:
samples_new = pd.melt(samples, id_vars=['Country'])
samples_new = samples_new.rename(columns={'variable':'years', 'value':'sample_values'}).sort_values(by=['Country', 'years']).reset_index()
samples_new = samples_new.drop(columns=['index'])
samples_new

                           Country years  sample_values
0     Afghanistan, Islamic Rep. of  1961         -0.105
1     Afghanistan, Islamic Rep. of  1962         -0.157
2     Afghanistan, Islamic Rep. of  1963          0.852
3     Afghanistan, Islamic Rep. of  1964         -0.743
4     Afghanistan, Islamic Rep. of  1965         -0.211
...                            ...   ...            ...
9633                      Zimbabwe  2017          0.116
9634                      Zimbabwe  2018          0.405
9635                      Zimbabwe  2019          0.939
9636                      Zimbabwe  2020          0.415
9637                      Zimbabwe  2021         -0.101

[9638 rows x 3 columns]

In [43]:
samples_list = list(samples_new.items())
samples_list

[('Country',
  0       Afghanistan, Islamic Rep. of
  1       Afghanistan, Islamic Rep. of
  2       Afghanistan, Islamic Rep. of
  3       Afghanistan, Islamic Rep. of
  4       Afghanistan, Islamic Rep. of
                      ...
  9633                        Zimbabwe
  9634                        Zimbabwe
  9635                        Zimbabwe
  9636                        Zimbabwe
  9637                        Zimbabwe
  Name: Country, Length: 9638, dtype: object),
 ('years',
  0       1961
  1       1962
  2       1963
  3       1964
  4       1965
          ...
  9633    2017
  9634    2018
  9635    2019
  9636    2020
  9637    2021
  Name: years, Length: 9638, dtype: object),
 ('sample_values',
  0      -0.105
  1      -0.157
  2       0.852
  3      -0.743
  4      -0.211
          ...
  9633    0.116
  9634    0.405
  9635    0.939
  9636    0.415
  9637   -0.101
  Name: sample_values, Length: 9638, dtype: float64)]

In [44]:
temp_melt = temp_new.melt(id_vars=['Country', 'continent', 'sub_region', 'ISO3'], ignore_index=False)
temp_melt

,Country,continent,sub_region,ISO3,variable,value
0,"Afghanistan, Islamic Rep. of",Asia,Southern Asia,AFG,1961,-0.105
1,Albania,Europe,Southern Europe,ALB,1961,0.627
2,Algeria,Africa,Northern Africa,DZA,1961,0.162
4,"Andorra, Principality of",Europe,Southern Europe,AND,1961,0.744
5,Angola,Africa,Middle Africa,AGO,1961,0.051
...,...,...,...,...,...,...
220,Wallis and Futuna Islands,Oceania,Polynesia,WLF,2021,0.775
221,West Bank and Gaza,Asia,Western Asia,PSE,2021,1.887
222,Western Sahara,Africa,Northern Africa,ESH,2021,1.557
224,Zambia,Africa,Eastern Africa,ZMB,2021,1.002
225,Zimbabwe,Africa,Eastern Africa,ZWE,2021,-0.101

In [45]:
temp_melt.sort_values(by=['Country','variable'])

,Country,continent,sub_region,ISO3,variable,value
0,"Afghanistan, Islamic Rep. of",Asia,Southern Asia,AFG,1961,-0.105
0,"Afghanistan, Islamic Rep. of",Asia,Southern Asia,AFG,1962,-0.157
0,"Afghanistan, Islamic Rep. of",Asia,Southern Asia,AFG,1963,0.852
0,"Afghanistan, Islamic Rep. of",Asia,Southern Asia,AFG,1964,-0.743
0,"Afghanistan, Islamic Rep. of",Asia,Southern Asia,AFG,1965,-0.211
...,...,...,...,...,...,...
225,Zimbabwe,Africa,Eastern Africa,ZWE,2017,0.116
225,Zimbabwe,Africa,Eastern Africa,ZWE,2018,0.405
225,Zimbabwe,Africa,Eastern Africa,ZWE,2019,0.939
225,Zimbabwe,Africa,Eastern Africa,ZWE,2020,0.415
225,Zimbabwe,Africa,Eastern Africa,ZWE,2021,-0.101

In [46]:
countries_temp_new = temp_new.set_index("Country")
countries_temp_new

,continent,sub_region,ISO3,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country,,,,,,,,,,,,,,,,,,,,,
"Afghanistan, Islamic Rep. of",Asia,Southern Asia,AFG,-0.105,-0.157,0.852,-0.743,-0.211,0.156,-0.389,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
Albania,Europe,Southern Europe,ALB,0.627,0.330,0.068,-0.172,-0.393,0.553,-0.080,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
Algeria,Africa,Northern Africa,DZA,0.162,0.131,0.110,0.284,-0.081,0.436,0.006,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
"Andorra, Principality of",Europe,Southern Europe,AND,0.744,0.102,-0.762,0.300,-0.492,0.407,0.621,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367
Angola,Africa,Middle Africa,AGO,0.051,-0.145,-0.186,-0.228,-0.207,0.162,-0.088,...,0.576,1.090,0.879,1.430,1.847,1.064,1.504,1.975,1.387,1.631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna Islands,Oceania,Polynesia,WLF,0.323,-0.051,0.125,0.187,-0.410,0.048,-0.255,...,0.617,0.683,0.606,0.646,1.159,0.960,0.688,1.110,1.082,0.775
West Bank and Gaza,Asia,Western Asia,PSE,-0.165,0.731,0.809,-0.654,-0.054,0.591,-0.933,...,1.110,1.194,0.940,1.408,1.705,0.821,2.093,1.298,1.553,1.887
Western Sahara,Africa,Northern Africa,ESH,0.619,0.559,0.323,0.811,-0.342,0.295,0.013,...,1.234,1.282,1.244,1.277,1.636,2.078,0.851,1.430,2.026,1.557
Zambia,Africa,Eastern Africa,ZMB,0.220,-0.177,-0.397,-0.290,-0.421,0.291,-0.013,...,0.926,0.746,0.638,1.486,1.474,0.721,0.727,1.295,1.252,1.002
Zimbabwe,Africa,Eastern Africa,ZWE,0.253,0.233,-0.460,-0.101,-0.476,0.211,-0.051,...,0.329,0.102,-0.008,0.808,1.051,0.116,0.405,0.939,0.415,-0.101

In [47]:
countries_temp_new.to_json("countries_temp_new.json")

In [48]:
cont_temp = temp_new.groupby(by=['continent']).mean()
cont_temp= cont_temp.T 
cont_temp

continent    Africa  Americas      Asia    Europe  Oceania
1961       0.058500  0.004919 -0.013103  0.874800   0.0813
1962      -0.018429 -0.077108  0.163769 -0.203000   0.0636
1963       0.012881  0.090486  0.218077 -0.479933  -0.1160
1964      -0.115952 -0.081865 -0.219282  0.044033   0.0579
1965      -0.230810 -0.127568 -0.115769 -0.493567  -0.4311
...             ...       ...       ...       ...      ...
2017       1.268857  1.076568  1.313590  1.536800   1.0029
2018       1.117857  0.864054  1.464795  1.736500   0.8042
2019       1.424905  1.108784  1.454436  1.712633   0.9843
2020       1.314810  1.362703  1.451436  2.011600   1.0672
2021       1.339738  1.102541  1.647513  1.399333   0.9327

[61 rows x 5 columns]

In [49]:
cont_temp = cont_temp.T.reset_index()
cont_temp

,continent,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa,0.058500,-0.018429,0.012881,-0.115952,-0.230810,0.122381,-0.156310,-0.223500,0.341024,...,0.759929,0.937524,0.972833,1.195714,1.417000,1.268857,1.117857,1.424905,1.314810,1.339738
1,Americas,0.004919,-0.077108,0.090486,-0.081865,-0.127568,-0.042892,-0.191622,-0.163784,0.295865,...,0.817162,0.791351,0.854459,1.125324,1.242946,1.076568,0.864054,1.108784,1.362703,1.102541
2,Asia,-0.013103,0.163769,0.218077,-0.219282,-0.115769,0.413615,-0.326974,-0.330256,0.142821,...,0.779000,0.943923,0.924744,1.262923,1.416462,1.313590,1.464795,1.454436,1.451436,1.647513
3,Europe,0.874800,-0.203000,-0.479933,0.044033,-0.493567,0.112667,0.354033,-0.051167,-0.234200,...,1.232800,0.863833,1.855300,1.501933,1.688900,1.536800,1.736500,1.712633,2.011600,1.399333
4,Oceania,0.081300,0.063600,-0.116000,0.057900,-0.431100,-0.195800,-0.188900,-0.202600,-0.047000,...,0.455000,0.811100,0.626000,0.566600,1.131000,1.002900,0.804200,0.984300,1.067200,0.932700

In [50]:
cont_temp.to_json("continent_temp.json", orient='records')

In [51]:
cont_temp['continent'].to_list()

['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']

In [53]:
sub_region_temp = temp_new.groupby(by=['sub_region']).mean()
sub_region_temp = sub_region_temp.T 
sub_region_temp = sub_region_temp.rename(columns={'sub_region':'year'})

In [54]:
sub_region_temp.to_json('sub_region_temp.json')

In [55]:
year = sub_region_temp.index